
.slide {
  position: relative;
  padding: 10vh 10%;
  min-height: 100vh;
  box-sizing: border-box;
	transform-style: inherit;
}

.slide {
  background: 50% 50% / cover;
}

.header {
  text-align: center;
  font-size: 100%;
  color: #fff;
  text-shadow: 0 2px 2px #000;
}

#title {
    background-image: url("../img/banner2.png");
    background-position: center top;
}

.myFont {
  font-family: 'Titillium Web', sans-serif;
}

.myFont2 {
  font-family: 'overpass', serif;
  font-size: 200%;
  color: #40943A;
}

.bg-gray{
  background-color: #242424;
}

.bg-orange {
  background: rgba(255,153,0,1);
  background: -moz-linear-gradient(top, rgba(255,153,0,1) 0%, rgba(214,128,0,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,153,0,1)), color-stop(100%, rgba(214,128,0,1)));
  background: -webkit-linear-gradient(top, rgba(255,153,0,1) 0%, rgba(214,128,0,1) 100%);
  background: -o-linear-gradient(top, rgba(255,153,0,1) 0%, rgba(214,128,0,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,153,0,1) 0%, rgba(214,128,0,1) 100%);
  background: linear-gradient(to bottom, rgba(255,153,0,1) 0%, rgba(214,128,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9900', endColorstr='#d68000', GradientType=0 );
}

.bg-green {
  background: rgba(106,190,96,1);
  background: -moz-linear-gradient(top, rgba(106,190,96,1) 0%, rgba(57,117,0,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(106,190,96,1)), color-stop(100%, rgba(57,117,0,1)));
  background: -webkit-linear-gradient(top, rgba(106,190,96,1) 0%, rgba(57,117,0,1) 100%);
  background: -o-linear-gradient(top, rgba(106,190,96,1) 0%, rgba(57,117,0,1) 100%);
  background: -ms-linear-gradient(top, rgba(106,190,96,1) 0%, rgba(57,117,0,1) 100%);
  background: linear-gradient(to bottom, rgba(106,190,96,1) 0%, rgba(57,117,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6abe60', endColorstr='#397500', GradientType=0 );
}

a{
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
    background-color: #4CAF50; /* Green */
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
